
/* small tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  td{
    height: 158px;
  }
  .banana{
    padding-right: 32%;
  }
}
/* phones of width < 768 */
@media only screen and (max-width: 767px) {
  table{
    table-layout: fixed;
  }
  td{
    height: 25%;
    width: 25%
  }
  .banana{
    height: 40px;
    width: 40px;
    padding-right: 35%;
  }
  .monkey-pic{
    height: 90px;
    width: 90px;
  }
}
