html {
    overflow: hidden;
    height: 100%;
}
body{
  background-image: url('./images/myForest.png');
  background-size: 100% 100%;
  overflow: auto;
   height: 100%;
}
table, tr,td{
  border-collapse: collapse;
  border: 3px dashed #228b22;
}
table{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
}
td{
  height: 100px;
  width: 200px;
  text-align: center;
}
.output{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
img{
  /* opacity: .4; */
  height: 100px;
  width: 100px;

}
.clicked .monkey-pic{
  /* opacity: 1; */
  visibility: visible;
}
.monkey-pic{
  visibility: hidden;
}
.walk-path .monkey-pic{
  visibility: visible;
}
.banana{
  height: 50px;
  width: 50px;
  float: right;
  padding-top: 25px;
  padding-right: 25px;
}
